.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #FFCC00;
    background-image: url(https://assets.dpdhl-brands.com/guides/dhl/guides/design-basics/logo-and-claim/logo/versions-01.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.right {
    right: 0;
    background-color: rgba(255, 255, 255, 0.18);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.centered img {
    width: 750px;
}

